<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ENUSearch App</title>

    <!--<link rel="stylesheet" href="css/style.css"/>-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="css/app.css"/>-->
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <!--<link rel="stylesheet" href="css/ngDialog.css"/>-->
    <!--<link rel="stylesheet" href="css/ngDialog-theme-default.css"/>-->
    <!--<link rel="stylesheet" href="css/ngDialog-theme-flat.css"/>-->
</head>
<body ng-app="smsapp" ng-controller="JurnalsCtrl">
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/enu-smsapp/">
                <!--   <img src="img/arta.png"/>-->
                <!--<i class="fa fa-book"></i>-->
                <!--Электронная библиотека-->
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/auth/login/"><i class="fa fa-sign-in"></i> Войти</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Журнал сообщении</h1>
    </div>
    <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <span></span><b class="caret" style="vertical-align: middle;"></b>
    </div>

    <div class="row">
        <div style="position: fixed; top: 0; right: 0">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <table class="table table-hover">
            <thead>
            <th>Дата и время отправки</th>
            <th>ИИН</th>
            <th>номер телефона</th>
            <th>сообщение</th>
            <th>результат</th>
            <th>наименование книги</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="jurnal in jurnals">
                <td>{{jurnal.dateSend}}</td>
                <td>{{jurnal.iin}}</td>
                <td>{{jurnal.phone}}</td>
                <td>{{jurnal.message}}</td>
                <td>{{jurnal.result}}</td>
                <td>{{jurnal.orderBookName}}</td>
                <td>
                    <div>
                        <a ng-click="showDetails(jurnal)"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<script src="lib/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="lib/ng-infinite-scroll.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers/jurnals.js"></script>
<script src="js/controllers/onejurnal.js"></script>
<script src="js/filters.js"></script>
</body>
</html>