<div class="jqmWindow jqmID2" id="viewMarcWindow" style="z-index: 3000; display: block;">
    <div class="marcViewerTitle">
        <h3>Просмотр записи <span class="recordNumber">{{book.id}}</span></h3>
        <a title="Закрыть" class="jqmClose" ng-click="close()">
            <em>Закрыть</em>
        </a>
    </div>
    <div class="recordTitle">

        <div class="dms-main-record-info">
            <div class="dms-author-record">{{selectedBook.author}}</div>
            <b>{{selectedBook.title}}</b> : {{selectedBook.titleBig}}. - {{selectedBook.published}}. -
            {{selectedBook.phisical}}.
        </div>
        <div class="dms-other-record-info" ng-show="showExt">
            Хранение: {{selectedBook.recordPlace}};
        </div>
        <a href="#" class="toggleShowRecordTitle" ng-click="showExt = !showExt">
            <span class="toggleShowRecordTitleMore" ng-show="!showExt">еще</span>
            <span class="toggleShowRecordTitleLess" ng-show="showExt">скрыть</span>
        </a>
        <br></div>
    <div id="marcTabs">
        <tabset>
            <!--class="navDocDesc"-->
            <!--<tab heading="Оглавление">-->
            <!--<div class="docDescriptionContent"><h3>Данный документ не оцифрован</h3></div>-->
            <!--</tab>-->
            <tab heading="Описание" select="loadDescr()">
                <div class="marcDescriptionContent">
                    <div class="loaderResults" ng-show="selectedBook.attributes == null">
                        <img border="0" alt="Загрузка..." src="img/loader.gif">
                    </div>
                    <div>
                        <table class="tableMARC21Tagged">
                            <tbody>
                            <tr class="tableRowMARC21Tagged" ng-repeat="bookAttribute in selectedBook.attributes">
                                <td class="tableColTitleMARC21Tagged">{{bookAttribute.nameRu}}</td>
                                <td class="tableColValueMARC21Tagged">{{bookAttribute.valueStr}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <!--<tab heading="Карточка">-->
            <!--<div class="marcCardContent">-->
            <!--<div>Толстой, Лев Николаевич (1828-1910.).-->
            <!--<br>Филипок : Рассказы. [Для дошк. возраста] / Л. Н. Толстой; [Рис. Е. Маршаковой]. - М. : Дет.-->
            <!--лит., 1983. - 16 с. : ил.; 23 см.<br>Хранение: M 83-10/388; <br>-->
            <!--</div>-->
            <!--</div>-->
            <!--</tab>-->
            <tab heading="Marc-запись" select="loadMarc()">
                <div class="marcViewerContent">
                    <div>
                        <div class="loaderResults" ng-show="selectedBook.marc == null" id="loadDiv">
                            <img border="0" alt="Загрузка..." src="img/loader.gif">
                        </div>
                        <span class="marcText">
                            {{selectedBook.marc}}
                        </span>
                        <!--<table class="expanded_search">-->
                        <!--<tbody>-->
                        <!--<tr class="table-body" ng-repeat="recordAttribute in selectedBook.attributes">-->
                        <!--<td align="right" valign="top" class="table-text">{{recordAttribute.field}}</td>-->
                        <!--<td class="table-text"><strong>00740nam#a2200229#i#4500</strong></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                    </div>
                </div>
            </tab>
        </tabset>

    </div>
</div>