/* search control */

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
    padding: 8px;
    line-height: 1.42857143;
    border: 1px solid black;
    text-align: center;
}
