/* search control */
input.search-query {
    padding-left: 26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

.modal-dialog {
    width: 700px;
}