<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="../css/style.css"/>&ndash;&gt;-->
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="../css/app.css"/>-->
    <!--<link rel="stylesheet" href="../css/font-awesome.css"/>-->
<!--</head>-->
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                <small>Библиотека поиска</small>
            </h1>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="applyForm()">
                <div class="form-group">
                    <label for="nameLib" class="col-sm-2 control-label">Название</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nameLib"
                               ng-model="lib.nameLib" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zhost" class="col-sm-2 control-label">Хост</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="zhost" placeholder="Хост"
                               ng-model="lib.zhost" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zport" class="col-sm-2 control-label">Порт</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="zport" placeholder="210"
                               ng-model="lib.zport" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zdb" class="col-sm-2 control-label">База</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="zdb" placeholder="books"
                               ng-model="lib.zdb" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zUser" class="col-sm-2 control-label">Логин</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="zUser" placeholder="" ng-model="lib.zUser">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zPwd" class="col-sm-2 control-label">Пароль</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="zPwd" placeholder="" ng-model="lib.zPwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Синтаксис</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="z1" value="RUSMARC" ng-model="lib.zFormat"/> RUSMARC
                        </label>

                        <label>
                            <input type="radio" name="z1" value="USMARC" ng-model="lib.zFormat"/> USMARC
                        </label>

                        <label>
                            <input type="radio" name="z1" value="UNIMARC" ng-model="lib.zFormat"/> UNIMARC
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="encoding" class="col-sm-2 control-label">Кодировка</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="encoding" placeholder="UTF8"
                               ng-model="lib.encoding">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Тип запроса</label>

                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="other" value="PREFIX_QUERY" ng-model="lib.queryType"/> PREFIX_QUERY
                        </label>

                        <label>
                            <input type="radio" name="other" value="CCL" ng-model="lib.queryType"/> CCL
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="lib.useSearch">
                                Включен по умолчанию
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Подтвердить</button>
                        <button type="submit" class="btn btn-default" ng-click="cancelForm()">Закрыть</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
