.searchTermProgress {
    background: #FFF url("../img/loader.gif") no-repeat right center;
    border-right: 10px solid transparent;
}
.searchTermNormal {

}

/*стили просмотра карточки*/
.jqmWindow {
    display: none;

    position: relative;
    left: 0;

    margin: 80px auto 0 auto;
    width: 800px;

    background-color: #fff;
    color: #333;
    border: 1px solid #808080;
    padding: 0;
}
.marcViewerTitle, .extSearchTitle, .externalResourceTitle, .highlightPageTitle, .vakCodesPageTitle {
    margin: 10px;
    height:20px;
}

.marcViewerTitle h3, .extSearchTitle h3, .externalResourceTitle h3, .highlightPageTitle h3, .vakCodesPageTitle h3 {
    padding: 0;
    font-size:14px;
    color: #333;
    float:left;
    margin: 0;
}

.jqmClose em {display:none;}
.jqmClose {
    width:20px;
    height:20px;
    display:block;
    float:right;
    clear:right;
    background:transparent url(../img/close-dialog-btn.png) 0 0 no-repeat;
}

a.jqmClose:hover { /*background-position: 0 -20px;*/ }

.marcViewerContent, .extSearchContent {
    overflow: auto;
    clear: both;
    font-size: 12px;
    padding: 15px;
}
.marcText{
    white-space:pre;
}