<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OCR App</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <!-- Latest compiled and minified CSS -->
    <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
</head>
<body ng-app="ocrapp" ng-controller="UploadCtrl">
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/enu-smsapp/">
                <!--   <img src="img/arta.png"/>-->
                <!--<i class="fa fa-book"></i>-->
                <!--Электронная библиотека-->
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/auth/login/"><i class="fa fa-sign-in"></i> Войти</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div flow-init="{target: '/ocr-app/rest/ocr/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <input type="file" flow-btn/>
        Загрузите сканы
        <span class="btn" flow-btn>Загрузить файл</span>

        <div class="alert alert-info" flow-drop>
            Перетащите сюда сканы
        </div>
        <!--<table>-->
            <!--<tr ng-repeat="file in $flow.files">-->
                <!--<td>{{$index+1}}</td>-->
                <!--<td>{{file.name}}</td>-->
                <!--<td>{{file.msg}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <div>
            <div ng-repeat="file in $flow.files" class="gallery-box">
                <span class="title">{{file.title}}</span>
                <div class="thumbnail" ng-show="$flow.files.length">
                    <img flow-img="file" />
                </div>
                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                    </div>
                </div>
                <div class="btn-group">
                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                        Удалить
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/ng-flow-standalone.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/upload.js"></script>
</body>
</html>